@use 'bootstrap';

$brand_color: #0282F9;
$secondary_color: #303030;
$back_products: #1c1c1c;
$back_comic_price : #55BA59;
$comic_price: #A8F48E;
$comic_info: #F6F6F6;

.blueBanner {
  background-color: $brand_color;
}

.searchbar_container {
  border-bottom: 2px solid $brand_color;
  margin-left: auto;

  .searchBtn {
    background-color: transparent;
    color: black;
    border: 0;
    font-size: 1.2em;
  }
}

.navbarContain {
  justify-content: center;
  ul {
    line-height: 130px;
    margin-bottom: 0 !important; 

    li {
    line-height: 130px;
    border-bottom: 4px solid transparent;

    
    &:hover {
      color: $brand_color;
      border-bottom: 4px solid $brand_color;
    }
  }
  .on {
    border-bottom: 4px solid $brand_color;
  }
  }
}
/* /HEADER */


.jumbo {
  background-image: url('../img/jumbotron.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
}

.currentSeries {


  .title.series {
    background-color: $brand_color;
    width: 20%;;
    color: white;
    text-align: center;
    position: absolute;
    top: -1.4rem;
    z-index: 1;
  }

  .productsContainer {
    background-color: $back_products;
    color: white;

    .card {
    min-height: 265px;
    border: 0 !important;
    background-color: $back_products;
  }

  .loadMoreBtn {
    background-color: $brand_color;
    border: 0;
    color: white;
  }
  }
}

.merch {
  background-color: $brand_color;
  color: white;
}

.comicImage {
  height: 100px;

  .comicThumb {
    position: absolute;
    bottom: 20%;
  }
}

.comicInfoContain {


  .authors {
    background-color: $comic_info;

    .bb-3 {
      border-bottom: 1px solid lightgray;
    }
  }

  .infoComic {

    .imgprodp {
      height: 250px;
    }
  }
  .available {
    height: 100%;
    width: 100%;
    background-color: $back_comic_price;
    color: white;
    font-size: 1.2em;
    border: 0;
  }

  .backPrice {
    background-color: $back_comic_price;
    color: $comic_price;
  }
}

.specs {
  background-color: $comic_info;
}
/* /MAIN */

.contacts_jumbo {
  background-image: url('../img/footer-bg.jpg');
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h3 {
    color: white;
  }

  li,
  p {
    color: #959595;
  }

  .dcLogoFooter {
    background-image: url('../img/dc-logo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }

}

.credits {
  background-color: $secondary_color;
  
  .myBtn {
    background-color: $secondary_color;
    border: 3px solid $brand_color;
    color: white;
  }
}
/* /FOOTER */